$color-text: #fff;
$color-footer:#F7F6F6;
$border-top: #CACDD8;
$color-button: #020202;

$width-site: 1200px;

$gap: 32px;

$background: #C4C4C4;
$background-select: #000;

$description: #888888;
$price: #050505;

$transition: 0.3s;

$shadow: #ccc;