* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Select for Catalog */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  margin-bottom: 32px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*Phone number*/
a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Header */
.top {
  background: #C4C4C4;
  background-image: url(../img/top-background.jpg);
  height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-cat {
  background: url(../img/backgroundcat.jpg), #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-logo {
  margin-top: 1rem;
}

.top-in-search {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 288px;
  height: 41px;
  background-color: transparent;
  outline: none;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1rem;
}

.top-in-search::-webkit-input-placeholder {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.top-in-search:-ms-input-placeholder {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.top-in-search::-ms-input-placeholder {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.top-in-search::placeholder {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.top-links {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-links-mobile {
  display: none;
}

.links-grand {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 28px;
  row-gap: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.links-grand:hover {
  border-bottom: 1px solid #fff;
}

.main-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-style: normal;
  color: #fff;
  max-width: 792px;
}

.tagline {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.main-wait {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
}

.main-down {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Catalog */
.cat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.cat-main-links {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

.cat-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 41px;
}

/* Select in Catalog */
.select-arrow {
  border: none;
  outline: none;
}

.select-box {
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 10px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: relative;
}

/* Arrow in select (Catalog)*/
.select-arrow::after {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.25rem;
  height: 11px;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  background: url(../img/polygon.svg) no repeat right;
  background-position-x: calc(100% - 22px);
  position: absolute;
  display: block;
}

.cat-select-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  outline: none;
}

/* For */
.for {
  padding-top: 32px;
}

.for-box {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin-bottom: 43px;
}

.for-item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.for-item-big {
  grid-column: span 6;
}

.for-item:nth-of-type(1) {
  background-image: url(../img/relax.jpg);
}

.for-item:nth-of-type(2) {
  background-image: url(../img/work.jpg);
}

.for-item:nth-of-type(3) {
  background-image: url(../img/kitchen.jpg);
}

.for-item:nth-of-type(4) {
  background-image: url(../img/children.jpg);
}

.for-item:nth-of-type(5) {
  background-image: url(../img/bathroom.jpg);
}

/* Special & Catalog */
.special-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.special {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.special-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.special-product {
  width: 378.66667px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.special-product:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

.special-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}

.special-img {
  max-width: 100%;
}

.special-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.special-description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  padding-bottom: 12px;
}

.special-box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.special-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.special-sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

/* In catalog */
.link-box {
  margin-top: 40px;
  margin-left: 28px;
  margin-bottom: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-wait-under {
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-wait-under:hover {
  color: #888888;
  text-decoration: none;
}

.links-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.links-down:hover {
  border-bottom: 1px solid #888888;
}

/* Footer */
.footer-news {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding-bottom: 16px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
}

.footer-in {
  background: #F7F6F6;
  border: 1px solid #C4C4C4;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  outline: none;
  width: 275px;
  height: 46px;
}

.footer-in::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer-in:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer-in::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer-in::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer-button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-button:hover {
  background-color: #000;
  color: #fff;
}

.footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-box {
  display: block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-logo {
  display: block;
}

.footer-content {
  width: 792px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-icons-item path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-icons-item:hover path {
  fill: #000;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.top-cart {
  height: 400px;
  background-image: url(../img/cart-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading-big {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #fff;
  margin-top: 127px;
}

@-webkit-keyframes order--button {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes order--button {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 4rem;
}

.cart-name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
}

.cart-option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.cart-item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-img {
  max-width: 173px;
}

.cart-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 32px;
}

.cart-info {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.cart-product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.cart-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.cart-price {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #050505;
}

.cart-form {
  grid-column: span 4;
  background: #F7F6F6;
  border-radius: 20px;
  width: 379px;
  background: #F7F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 28px;
  padding-right: 4rem;
}

.cart-form--order {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 42px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cart-content {
  grid-column: span 8;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 786px;
}

.cart-links {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart-input-box {
  position: relative;
}

.cart-input {
  background: #F7F6F6;
  border-radius: 6px;
  width: 71px;
  height: 51px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
  border: none;
}

.cart-arrows-1 {
  position: absolute;
  top: -30%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  left: 64%;
  display: block;
}

.cart-arrows-2 {
  position: absolute;
  top: 12%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  left: 64%;
  display: block;
}

.cart-delivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-delivery-input {
  width: 288px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid #CACDD8;
  font-style: normal;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-delivery--center {
  margin-top: 16px;
  margin-bottom: 16px;
}

.cart-order--button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 288px;
  height: 41px;
  position: absolute;
  -webkit-animation: order--button 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
          animation: order--button 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}

.cart-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000;
  margin-top: 64px;
  margin-bottom: 14px;
}

.cart-button {
  width: 200px;
  height: 37px;
  border: 1px solid #000;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart-button-delete {
  padding-left: 33px;
  padding-right: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-button-proceed {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-links:hover {
  border-bottom: 1px solid #000;
}

.cart-delivery-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

.cart-delivery-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: #000;
}

.cart-delivery-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: #000;
}

.cart-delivery-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

.cart-button:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px / 2);
    padding-right: calc(50% - 786px / 2);
  }
  .for-box {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 16px;
  }
  .for-item {
    grid-column: 1 / -1;
    height: 268px;
    font-size: 1.75rem;
  }
  .for-item-big {
    height: 244px;
  }
  .special-content {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 39px;
  }
  .footer-box {
    display: none;
  }
  .cart {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 16px;
  }
  .cart-item {
    grid-column: 1 / -1;
    height: 375px;
    font-size: 1.75rem;
  }
  .cart-item-big {
    height: 244px;
  }
  .cart-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 376px;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .special-product {
    width: calc((768px - 24px * 2 - 29px) / 2);
  }
  .cart-image {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-top: 32px;
  }
  .top-in-search {
    display: none;
  }
  .top-links {
    display: none;
  }
  .top-logo-img {
    width: 99px;
  }
  .top-links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .main {
    font-size: 3rem;
    line-height: 59px;
    text-align: center;
  }
  .main-wait {
    font-size: 14px;
    line-height: 1.5rem;
  }
  .main-wait-under {
    font-size: 1rem;
    line-height: 22px;
  }
  .main-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tagline {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
  }
  .main-down {
    display: none;
  }
  .special {
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 16px;
  }
  .special-name {
    margin-top: 0;
  }
  .special-img {
    padding-bottom: 10px;
  }
  .special-heading {
    font-size: 1.125rem;
    line-height: 22px;
    font-weight: 500;
  }
  .special-description {
    padding-bottom: 0.5rem;
  }
  .special-box-price {
    gap: 32px;
  }
  .special-price {
    font-size: 1.125rem;
    line-height: 22px;
    font-weight: 500;
  }
  .special-content {
    margin-top: 16px;
  }
  .special-cart {
    padding-top: 32px;
  }
  .for {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for-item {
    grid-column: 1 / -1;
    height: 375px;
    font-size: 1.75rem;
  }
  .for-item-big {
    height: 244px;
  }
  .link-box {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0%;
  }
  .cat-main-links {
    font-size: 0.875rem;
  }
  .cat-main-nav {
    margin-bottom: 16px;
  }
  .cat-content {
    margin-top: 0;
  }
  .select-box {
    margin-bottom: 2rem;
  }
  .cart {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 48px;
  }
  .cart-content {
    grid-column: span 4;
  }
  .cart-img {
    display: none;
  }
  .cart-item {
    grid-column: 1 / -1;
    height: 375px;
    font-size: 1.75rem;
  }
  .cart-item-big {
    height: 244px;
  }
  .cart-form {
    grid-column: span 4;
    font-size: 0.875rem;
  }
  .cart-name-box {
    display: none;
  }
  .cart-product-name {
    font-size: 1.125rem;
    line-height: 22px;
  }
}

.footer {
  padding-top: 0;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.footer-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 34px;
}

.footer-info {
  gap: 100px;
}
/*# sourceMappingURL=style.css.map */